<!-- Copyright (c) 2021 Maria Crespo
Don't count the days, make the days count...Go Head!
All Rights Reserved
-->

<div class="media">

  <div class="media-body">
    <h5 class="mt-0"><%= "#{"Box".pluralize(Box.count)} of #{ActsAsTenant.current_tenant.name} " %></h5>

<div class="row row-cols-1 row-cols-md-2 g-4" >
  <%= render @boxes %>
</div>
