<!-- Copyright (c) 2021 Maria Crespo
Don't count the days, make the days count...Go Head!
All Rights Reserved
-->

<h3 class="text-center">Boxes Content</h3>
<h3 class="text-center">Items in <%= @box.boxname %></h3>
<div class="d-flex justify-content-center">
  <%= link_to("Add Item", new_box_item_path(@box), class: "form-inline2")%>
</div>
<div class="row row-cols-1 row-cols-md-2 g-4" >
  <% @box.items.each  do |item|%>
    <%= render "items/element", item: item %>
  <% end %>
</div>
