<!-- Copyright (c) 2021 Maria Crespo
Don't count the days, make the days count...Go Head!
All Rights Reserved
-->

<div id="page-content">
  <div class="container" id="home-container">
    <div class="jumbotron text-center text-grey">
      <h1 class="display-6 text-white">WELCOME</h1>
      <hr class="line">
      <div class="text1">
        <h2>Forget about the control and administration of your inventories. <br/>We do it for you.</h2>
      </div>
      <div class="start">
        <%= link_to 'Enter', user_session_path, class: "btn1" %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <%= render "subscriptions"  %>              
    </div>
  </div>
</div>
