<!-- Copyright (c) 2021 Maria Crespo
Don't count the days, make the days count...Go Head!
All Rights Reserved
-->

<div class="field">
    <%= form.label :description %><br />
    <%= form.text_field :description, class: "form-control" %>
  </div>
  <div class="field">
    <%= form.label :picture %><br />
    <%= form.file_field :picture, class: "form-control" %>
  </div>
  