<!-- Copyright (c) 2021 Maria Crespo
Don't count the days, make the days count...Go Head!
All Rights Reserved
-->

<div class="field">
    <%= form.label :description %><br />
    <%= form.text_field :description %>
  </div>
  <div class="field">
    <%= form.label :avatar %><br />
    <%= form.file_field :avatar %>
  </div>
  