<!-- Copyright (c) 2021 Maria Crespo
Don't count the days, make the days count...Go Head!
All Rights Reserved
-->

<h1 class="display-5 text-center"> Add Item </h1>
<%= form_with url: box_items_path,  model: @items do |form| %>
  <%= render partial: "/shared/errors", locals: {model: @items} %>
  <%= render partial: "form", locals: {form: form}%>
  <%= form.submit "Save", class: "btn btn-success btn-lg btn-block m-3" %>
<% end %>
