<!-- Copyright (c) 2021 Maria Crespo
Don't count the days, make the days count...Go Head!
All Rights Reserved
-->

<h5 class="text-center"> Add Item </h5>
<%= form_with url: box_items_path,  model: @items do |form| %>
  <%= render partial: "/layouts/flash", locals: {model: @items} %>
  <%= render partial: "form", locals: {form: form}%>
  <%= form.submit "Save", class: "btn1" %>
<% end %>
